nav {
     display: flex;
     border-bottom: 2px solid #d8d8d8;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     z-index: 999;
     margin-left: 10rem;
}

input { 
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    /* margin-right: 20px; */
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons { 
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    color: #535353;
}

@media all and (max-width: 500px) {
    nav { 
        justify-content: center;
        margin-left: 0;
    }

    input { 
    width: 12rem;
    }
}
